@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', serif;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background-color: #5c5470;
  --primary-color: #352f44;
  --secondary-color: #2a2438;
  --bright-color: #dbd8e3;

  --finished-color: green;
  --finished-fully-color: #c88c32;
  --playing-color: dodgerblue;
  --queued-color: purple;
  --abandoned-color: red;

  --icon-color: red;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}
